# Language Classification

- kaggle에 있는 Language Classification Dataset을 사용하고,
- [공개노트북 중 하나](https://www.kaggle.com/code/mdzisun/language-detection-system)의 코드를 따라하며 언어 분류를 해보았다.

In [1]:
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv('../dataset/dataset.csv')

In [4]:
data.shape

(22000, 2)

In [5]:
data.head(3)

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai

In [6]:
data = data[:5000]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import*
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [8]:
data['language'].value_counts()

Russian       250
Japanese      240
Tamil         240
Persian       239
Arabic        236
Portugese     234
Turkish       233
Pushto        229
Hindi         229
Dutch         228
Swedish       226
French        226
Korean        226
Estonian      225
Indonesian    223
English       223
Urdu          219
Thai          219
Spanish       217
Latin         217
Romanian      214
Chinese       207
Name: language, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      5000 non-null   object
 1   language  5000 non-null   object
dtypes: object(2)
memory usage: 78.2+ KB

In [10]:
data.iloc[0]['Text']

'klement gottwaldi surnukeha palsameeriti ning paigutati mausoleumi surnukeha oli aga liiga hilja ja oskamatult palsameeritud ning hakkas ilmutama lagunemise tundemärke  aastal viidi ta surnukeha mausoleumist ära ja kremeeriti zlíni linn kandis aastatel – nime gottwaldov ukrainas harkivi oblastis kandis zmiivi linn aastatel – nime gotvald'

In [11]:
data.iloc[0]

Text        klement gottwaldi surnukeha palsameeriti ning ...
language                                             Estonian
Name: 0, dtype: object

In [12]:
data['Text'] = data['Text'].apply(lambda x: x.lower())

In [13]:
data.iloc[0]

Text        klement gottwaldi surnukeha palsameeriti ning ...
language                                             Estonian
Name: 0, dtype: object

In [14]:
data[data['language'] == 'Korean']

                                                   Text language
14    한국에서 성씨가 사용되기 시작한 정확한 시기는 알 수 없으나 한자漢字 등 중국 문물...   Korean
25    효모는 세포 수준의 생물학에서 모델 생물의 첫 번째 본보기로 간주해도 좋을 것이다 ...   Korean
67    세월호 참사 초기 구조 당시에 현장지휘관 osc·on scene-commander인...   Korean
83    ^ hwang sw et al direct activation of capsaici...   Korean
99    자사 노선은 도부 스카이트리라인 오시아게 - 도부 도부쓰코엔 사이 도부 철도 이세사...   Korean
...                                                 ...      ...
4900  브래지어 영어 brassiere 문화어 가슴띠는 보통 브라bra라고 일컬으며 유방을...   Korean
4915  이어 또다른 적 몽골을 침공하여 후방을 더욱 안정히 하였다 년 차하르의 링단 칸에게...   Korean
4966  킬제덴의 참모로 불타는 군단의 나스레짐 족 전사 중 한 명이며 리치 왕 넬쥴의 부관...   Korean
4986  또 강물과 개천가에는 아주 극히 작은 벌레[蟲]가 있었습니다 이 벌레 이름은 초명焦...   Korean
4998  안두희는 이러한 경찰과의 인연을 넘어 군의 정보기관 특히 특무대sis의 김창룡金昌龍...   Korean

[226 rows x 2 columns]

In [15]:
data.shape

(5000, 2)

In [16]:
22000*0.7

15399.999999999998

In [17]:
data[:15400]['language'].value_counts()

Russian       250
Japanese      240
Tamil         240
Persian       239
Arabic        236
Portugese     234
Turkish       233
Pushto        229
Hindi         229
Dutch         228
Swedish       226
French        226
Korean        226
Estonian      225
Indonesian    223
English       223
Urdu          219
Thai          219
Spanish       217
Latin         217
Romanian      214
Chinese       207
Name: language, dtype: int64

In [18]:
import re
def data_preprocessing(text):
    text = re.sub(r'[!@#$(),n"%^*?:;~`0-9]', ' ', text)
    text = re.sub(r'[[]]', ' ', text)
    text = text.lower()
    return text

In [19]:
data['Text'] = data['Text'].apply(lambda x: data_preprocessing(x))

<ipython-input-18-aaa28c67dd7f>:4: FutureWarning: Possible nested set at position 1
  text = re.sub(r'[[]]', ' ', text)

In [20]:
X = data['Text']
y = data['language']

In [21]:
cv = CountVectorizer()

In [22]:
split_num = round(data.shape[0] * 0.8)
print(split_num)

4000

In [23]:
train_x = X[:split_num]
test_x = X[split_num:]
train_y = y[:split_num]
test_y = y[split_num:]

In [24]:
le = LabelEncoder()
train_y = le.fit_transform(train_y)

In [25]:
train_x = cv.fit_transform(train_x.tolist()).toarray()
train_x.shape

(4000, 75555)

In [26]:
train_x[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [27]:
test_x = cv.transform(test_x.tolist()).toarray()

In [28]:
test_y = le.transform(test_y)

In [29]:
test_x[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [30]:
from sklearn import svm,metrics
from sklearn.metrics import classification_report


clf= svm.SVC()

In [31]:
import time
start_time=time.time()

clf.fit(train_x, train_y)
print('spent time with training: ', time.time() - start_time)

start_time = time.time()
pred_y = clf.predict(test_x)
print('spent time with prediction: ', time.time() - start_time)

spent time with training:  578.3662841320038
spent time with prediction:  191.85207200050354

In [34]:
# metrics.accuracy_score??

In [32]:
score = metrics.accuracy_score(test_y, pred_y)
report=classification_report(test_y, pred_y)



# print("예측값:", pred_y)
# print('==================================')
print('정확도: ', score)
print('==================================')
print('보고서')
print(report)

정확도:  0.816
==================================
보고서
              precision    recall  f1-score   support

           0       1.00      0.90      0.95        59
           1       0.00      0.00      0.00        40
           2       1.00      0.96      0.98        50
           3       0.76      0.85      0.80        48
           4       1.00      0.68      0.81        47
           5       0.95      0.89      0.92        45
           6       1.00      0.93      0.96        42
           7       1.00      0.93      0.96        41
           8       0.28      1.00      0.43        52
           9       0.94      0.39      0.55        44
          10       0.93      0.87      0.90        47
          11       1.00      0.88      0.94        50
          12       0.95      0.89      0.92        45
          13       0.57      0.86      0.69        36
          14       1.00      0.94      0.97        50
          15       1.00      0.69      0.82        42
          16       1.00      0.83      0.91        48
          17       0.97      0.94      0.96        36
          18       1.00      0.90      0.95        40
          19       1.00      0.67      0.81        46
          20       0.98      0.87      0.92        47
          21       1.00      0.93      0.97        45

    accuracy                           0.82      1000
   macro avg       0.88      0.81      0.82      1000
weighted avg       0.88      0.82      0.83      1000